@font-face {
  font-family: montserrat;
  src: url(montserrat-alt1/fonts/webfonts/MontserratAlt1-ExtraBold.woff);
}
:root {
  --primary: #239bcf;
  --bg: rgb(0, 0, 0);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
  height: 000px;
}
/*Navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar .navbar-logo {
  font-size: 2.2rem;
  font-family: montserrat;
  font-weight: 700;
  color: #fff;
}
.navbar .navbar-logo span {
  color: var(--primary);
}
.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  font-family: montserrat;
  font-weight: 700;
  margin: 0 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 1s;
}
.navbar .navbar-nav a:hover {
  background-color: var(--primary);
  border-radius: 7px;
  color: #fff;
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}
.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover {
  color: var(--primary);
}
.navbar .navbar-extra a i {
  font-size: 2rem;
}
#hamburger-menu {
  display: none;
}
/*search form*/
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}
.navbar .search-form.active {
  transform: scaleY(1);
}
.navbar .search-form input {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}
.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}
/*shopping cart*/
#shopping-cart-button {
  position: relative;
}
#shopping-cart-button .quantity-badge {
  display: inline-block;
  padding: 1px 5px;
  background-color: var(--primary);
  border-radius: 8px;
  font-size: 1rem;
  position: absolute;
  top: 0;
  right: -12px;
}
.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  width: 35rem;
  height: 100vh;
  padding: 0 1.5rem;
  background-color: var(--primary);
  color: #fff;
  transition: 0.3s;
}
.shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 2px double var(--bg);
  position: relative;
}
.shopping-cart h3 {
  font-size: 1.4rem;
}
.shopping-cart .item-price {
  font-size: 1.2rem;
}
.shopping-cart .cart-item #add,
.shopping-cart .cart-item #remove {
  background-color: var(--bg);
  display: inline-block;
  cursor: pointer;
  padding: 2px 5px;
  margin: 0 8px;
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
}
.shopping-cart img {
  height: 4rem;
  border-radius: 10px;
  cursor: pointer;
}
.shopping-cart.active {
  right: 0;
}
.shopping-cart h4 {
  font-size: 1.6rem;
  margin-top: -1rem;
  text-align: center;
  color: var(--bg);
}
/**checkout Form*/
.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px double var(--bg);
  margin-top: 1rem;
  padding: 1rem;
}
.form-container h5 {
  text-align: center;
  font-size: 1.5rem;
  color: var(--bg);
}
.form-container form {
  width: 100%;
  text-align: center;
}
.form-container label {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 1rem 0;
}
.form-container span {
  text-align: right;
  color: var(--bg);
}
.form-container input {
  background-color: var(--bg);
  padding: 5px;
  font-size: 1rem;
  width: 70%;
}
.form-container .checkout-button {
  padding: 6px 14px;
  background-color: var(--bg);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 20px;
  margin: 1rem auto;
  cursor: pointer;
}
.form-container .checkout-button.disabled {
  background-color: #999;
  cursor: not-allowed;
}
/*HeroSection*/
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--bg);
  background-position: center;
  position: relative;
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
}
.hero .content {
  padding: 1.4rem 7%;
  max-width: 80rem;
}
.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 3, 0.5);
  line-height: 1.2;
}
.hero .content h1 span {
  color: var(--primary);
  background-color: #fff;
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 1rem;
}
.hero .content p {
  font-size: 1.8rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 300;
  text-shadow: 1px 1px 3px white;
  mix-blend-mode: difference;
  color: #fff;
}
.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background: linear-gradient(to right, #448bdb, #44d3e3);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
/*About Section*/
.about {
  padding: 8rem 7% 1.4rem;
  background-color: black;
}
.about h2 {
  text-align: center;
  font-size: 3.6rem;
  margin-bottom: 3rem;
}
.about h2 span {
  color: var(--primary);
}
.about .row {
  display: flex;
}
.about .row .about-img {
  flex: 1 1 45rem;
}
.about .row .about-img img {
  width: 100%;
}
.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}
.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.about .row .content p {
  margin-top: 0.8rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.6;
  color: #fff;
}
/* Card Section */
.card {
  padding: 8rem 7% 1.4rem;
  background-color: black;
}
.card h2 {
  text-align: center;
  font-size: 3.6rem;
  margin-bottom: 3rem;
}
.card h2 span {
  color: var(--primary);
}
.card .card-img img {
  width: 50%;
  align-items: center;
  justify-content: center;
  margin-left: 30rem;
}
/*menu section*/
.menu {
  padding: 8rem 7% 1.4rem;
  background-color: black;
}
.menu h2 {
  text-align: center;
  font-size: 3.6rem;
  margin-bottom: 1rem;
}
.menu h2 span {
  color: var(--primary);
}
.menu p {
  text-align: center;
  max-width: 70rem;
  margin: auto;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.6;
}
.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}
.menu-card {
  text-align: center;
  padding-bottom: 1rem;
}
.menu .row .menu-card {
  text-align: center;
}
.menu .row .menu-card img {
  border-radius: 7rem;
  width: 280px;
  margin-right: 16px;
}
.menu .row .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
}
/*products*/
.products {
  padding: 13rem 7% 1.4rem;
  background-color: black;
}
.products h2 {
  text-align: center;
  font-size: 3.6rem;
  margin-bottom: 1rem;
}
.products h2 span {
  color: var(--primary);
}
.products p {
  text-align: center;
  max-width: 70rem;
  margin: auto;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.6;
}
.products .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
  gap: 1.5rem;
}
.products .product-card {
  text-align: center;
  border: 2px solid var(--primary);
  padding: 1rem;
  border-radius: 3rem;
}
.products .product-card i {
  font-size: 2rem;
}
.products .product-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.products .product-icons a {
  width: 4rem;
  height: 4rem;
  color: #fff;
  margin: 0.3rem;
  border: 1px solid #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products .product-icons a:hover {
  background-color: var(--primary);
}
.products .row .product-image {
  text-align: center;
  padding: 1rem 0;
}
.products .row .product-image img {
  border-radius: 7rem;
  height: 25rem;
}
.products .product-content h3 {
  font-size: 2rem;
}
.products .product-stars {
  font-size: 2rem;
  padding: 0.8rem;
}
.products .product-price {
  font-size: 1.2rem;
  font-weight: bold;
}
/*Tugas STI*/
.tugassti {
  padding: 10rem 7% 1.4rem;
  background-color: black;
}
.tugassti .row-sti .col-sm-12 h2 {
  text-align: center;
  font-size: 3.6rem;
  margin-bottom: 1rem;
}
.tugassti .row-sti .col-sm-12 span {
  color: var(--primary);
}
.tugassti .row-sti p {
  text-align: center;
  max-width: 70rem;
  margin: auto;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.6;
}
.tugassti .row .dropdown button {
  background: linear-gradient(to right, #448bdb, #44d3e3);
  margin-bottom: 1rem;
  margin-left: 8.5rem;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  padding: 0.7rem 0.8rem;
}
/*Contact Section*/
.contact {
  padding: 10rem 7% 1.4rem;
  background-color: black;
}
.contact h2 {
  text-align: center;
  font-size: 3.6rem;
  margin-bottom: 1rem;
}
.contact h2 span {
  color: var(--primary);
}
.contact p {
  text-align: center;
  max-width: 70rem;
  margin: auto;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.6;
}
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: rgb(14, 13, 13);
  flex-wrap: wrap;
}
.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}
.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}
.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  background-color: var(--bg);
  border: 2px solid var(--primary);
  padding-left: 2rem;
}
.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}
.contact .row form .btn {
  color: var(--primary);
  background-color: #fff;
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  cursor: pointer;
}
.contact .input-group i {
  font-size: 2rem;
}
/*Footer*/
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}
footer .socials {
  padding: 1rem 0;
  cursor: pointer;
  padding: 0.5rem;
}
footer .socials a {
  color: #fff;
  margin: 1rem;
  font-size: 2rem;
}
footer .socials a:hover {
  color: var(--bg);
}
footer .links {
  margin-bottom: 1.4rem;
  font-family: montserrat;
}
footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
  text-decoration: none;
}
footer .links a:hover {
  color: var(--bg);
}
footer .credit {
  font-size: 1.5rem;
}
footer .credit a {
  color: var(--bg);
  font-weight: 700;
}
/*Modal Box*/
/*Item Detail*/
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-container {
  position: relative;
  color: var(--bg);
  margin: 15% auto;
  padding: 1.2rem;
  border: 1px solid #666;
  width: 80%;
  animation: animateModal 0.5s;
}
.modal-content {
  display: flex;
  flex-wrap: nowrap;
}
.modal-content img {
  height: 20rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.modal .product-content ul li {
  font-size: 2rem;
  line-height: 1.8rem;
  margin-top: 1.2rem;
  list-style: none;
}
.modal .product-content h3 {
  font-size: 3rem;
}
.modal-content a {
  display: flex;
  gap: 1rem;
  width: 18rem;
  background-color: var(--bg);
  color: #fff;
  margin-top: 2rem;
  padding: 1rem 1.8rem;
  font-size: 1.5rem;
  border-radius: 7rem;
}
.modal-container a {
  color: #fff;
}
.modal-container .close-icon {
  position: absolute;
  right: 1rem;
}
/*Modal Animation*/
@keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* Media Queries */
/*Laptop*/
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/*Tablet*/
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--primary);
    width: 30rem;
    height: 100vh;
    transition: 0.4s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a:hover {
    background-color: #fff;
    border-radius: 7px;
    color: var(--bg);
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  .navbar .search-form {
    width: 90%;
  }
  .about .row {
    flex-wrap: wrap;
  }
  .about .row .content {
    padding: 0;
  }
  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .about .row .content p {
    font-size: 1.6rem;
  }
  .menu p {
    font-size: 1.8rem;
  }
  .contact .row {
    flex-wrap: wrap;
  }
  .contact .row .map {
    height: 30rem;
  }
  .contact .row form {
    padding-top: 0;
  }
  .modal-content {
    flex-wrap: wrap;
  }
}
/*Mobile Phone*/
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
